{% extends 'base.html' %}

{% block content %}
{% if text_type == 'post' %}
<div class="content-section">
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete the post below?</p>
        <input type="submit" value="Confirm">
        <a href="{{ request.META.HTTP_REFERER }}">Nope, keep it!</a>
    </form>
    <div>
        <p>{{ post.topic }} - {{ post.created }}</p>
        <p>{{ post.title }}</p>
        <img src="{{ post.image.url }}" alt="A funny Meme">
    </div>
    {% elif text_type == 'user' %}
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete your user account?</p>
        <input type="submit" value="Confirm">
        <a href="{{ request.META.HTTP_REFERER }}">Nope, keep it!</a>
    </form>
    {% else %}
    <form action="" method="POST">
        {% csrf_token %}
        <p>Are you sure you want to delete the comment below?</p>
        <input type="submit" value="Confirm">
        <a href="{{ request.META.HTTP_REFERER }}">Nope, keep it!</a>
    </form>
    <div>
        <p>{{ comment.body }}</p>
    </div>
    {% endif %}
</div>
{% endblock %}