{% extends 'base.html' %}

{% block content %}

<style>
    .feed-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="feed-container">
    <div>
        <h3>Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All topics</a>
        </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a>
            </div>
        {% endfor %}
        <div>
            <form action="{% url 'home' %}" method="GET">
                {% csrf_token %}
                <input type="text" name="q" placeholder="Search for memes...">
            </form>
        </div>
    </div>
    <div>
        
        <a href="{% url 'create_post' %}"><button>Create new post</button></a>
        {% if posts %}
        {% for post in posts %}
        
        <div>
            <p>{{ post.topic }} - {{ post.created }} <a
                    href="{% url 'post_delete' post.id %}"><button>Delete</button></a>
            </p>
            <a href="{% url 'post_view' post.id %}">
                <p>{{ post.title }}</p>
            </a>
            <img src="{{ post.image.url }}" alt="">
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p>No Memes to see here 😒</p>
        </div>
        
        
        {% endif %}
    </div>
</div>

{% endblock %}