{% extends 'base.html' %}

{% block content %}

<style>
    .feed-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }
</style>

<div class="feed-container">
    <div>
        <h3>Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All topics</a>
        </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?q={{topic.name}}">{{ topic.name }}</a>
        </div>
        {% endfor %}
        <div>
            <form action="{% url 'home' %}" method="GET">
                {% csrf_token %}
                <input type="text" name="q" placeholder="Search for memes...">
            </form>
        </div>
    </div>
    <div>

        <a href="{% url 'create_post' %}"><button>Create new post</button></a>
        {% if posts %}

        {% for post in posts %}


        <div>

            <small>{{ post.topic }} - {{ post.created | timesince }} ago
                {% if request.user == post.author %}
                <a href="{% url 'post_delete' post.id %}"><button>Delete</button></a>
                {% endif %}
            </small>

            <a href="{% url 'post_view' post.id %}">
                <p>{{ post.title }}</p>
            </a>
            <img src="{{ post.image.url }}" alt="">
            <p><i class="fas fa-heart"></i>
                {{ post.number_of_likes }} </p>
            
            <p><i class="fas fa-comments"></i>{{ post.num_comments }}</p>
            
        </div>

        {% endfor %}
        {% else %}
        <div>
            <p>No Memes to see here 😒</p>
        </div>


        {% endif %}
    </div>
    <div>
        {% if request.user.is_authenticated %}
        <div>
            <h3>My profile</h3>
            <p>Hi @{{request.user.username}}!</p>
            {% if request.user.profile.profile_image.url != None %}
            <img src="{{request.user.profile.profile_image.url}}" alt="">
            {% else %}
            <p>Wanna add a profile picture?</p>
            {% endif %}
            {% if request.user.profile.bio != '' %}
            <p>{{request.user.profile.bio}}</p>
            {% else %}
            <p>Wanna add a bio text?</p>
            {% endif %}
            <a href="{% url 'edit_profile' request.user.id %}"><button>Add/change profile info</button></a>
        </div>
        {% else %}
        <div>
            <p>Register/Log in to create, comment on and like posts. As a logged in user, you can also add a picture to
                your profile and add a bio text.</p>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}