{% extends 'base.html' %}

{% block content %}


<div>
    <p>{{ post.topic }} - {{ post.created }}</p>
    <p>{{ post.title }}</p>
    <img src="{{ post.image.url }}" alt="A funny Meme">
    <br>
    <strong>
        {% if request.user.is_authenticated %}
        <form action="{% url 'post_like' post.id %}" method="POST" class="d-inline">
            {% csrf_token %}
            {% if liked %}
            <button type="submit" name="post_id" value="{{post.id}}"><i
                    class="fas fa-heart"></i></button>
            {% else %}
            <button type="submit" name="post_id" value="{{post.id}}"><i
                    class="far fa-heart"></i></button>
            {% endif %}
        </form>
        {% else %}
        <span class="text-secondary"><i class="far fa-heart"></i></span>
        {% endif %}
        <span class="text-secondary">{{ post.number_of_likes}}</span>
    </strong>
</div>
{% if request.user.is_authenticated %}
<div>
    <h3>Add a comment</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="body" placeholder="Add comment...">
    </form>
</div>
{% endif %}
<div>
    {% for comment in comments %}
    <small>{{ comment.author }} | {{ comment.created | timesince }} ago</small>
    <p>{{ comment.body }}</p>
    {% if request.user == comment.author %}
    <a href="{% url 'comment_delete' comment.id %}?post_id={{ post.id }}"><button>Delete</button></a>
    <!-- Pass in the post_id for the deleteComment view  -->
    {% endif %}
    {% endfor %}
</div>

{% endblock %}