{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<!-- {% if page == 'login' %}
<div>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" name="username" id="usersame" placeholder="Enter username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" placeholder="Enter password">
        <input type="submit" value="Login">
    </form>
    <p>Haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>
</div>
{% else %} -->
<div class='content-section'>
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Join the 8GAG community!</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Sign up</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
<!-- {% endif %} -->
{% endblock %}