/* General Settings */

* {
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background: #111827;
}

.inline {
    display: inline;
}

.links {
    color: #fff;
}

.border-white {
    border: 1px solid #fff;
}

hr {
    background-color: #fff;
    height: 1px;
    border: none;
    width: 80%;
}


/* Navbar */

nav {
    background: black;
}

.navbar-brand {
    font-size: 1.5rem;
}

.fa-bars {
    color: #fff;
    font-size: 28px;
}

/* Topics section */

.search-field {
    font-size: .8rem;
}

/* Feed section */

.feed-img {
    height: 30px;
    width: 30px;
}

.arrow {
    font-size: 70%;
    color: #0275d8;
}

.image {
    width: 100%;
    height: auto;
}

/* Profile section */

.card-feed {
    background: #111827;
}

.card-profile {
    background: #111827;
    border: 1px solid #fff;
}

.account-img {
    height: 65px;
    width: 65px;
}

.btn-profile {
    font-size: 0.8rem;
}

.delete-link {
    font-size: 0.75rem;
}

/* Post page view */

.like-btn {
    background-color: transparent;
    border: none;
    color: #fff;
}

.comment-input {
    width: 70%;
}

/* Footer */

footer {
    background: black;
}